/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

/* Tailwind Directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

.will-change-transform {
  will-change: transform, opacity;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

/* Custom Base Styles using Tailwind utilities */
body {
  @apply font-serif text-gray-800 bg-white leading-relaxed antialiased;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
  @apply font-bold text-gray-900;
}

a {
  @apply text-white hover:underline font-medium transition-colors duration-200;
}

.btn-primary {
  @apply px-4 py-2 rounded-md bg-primary text-white font-medium hover:bg-blue-700 transition;
}
